/*-----------------------------全局样式-------------------------------------*/
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,span,a,input,textarea,p,blockquote,th,td,header,nav,footer,article,section,aside,time,figure{margin:0;padding:0;-webkit-tap-highlight-color:rgba(0,0,0,0)}
h1,h2,h3,h4,h5,h6{font-size:14px;font-weight:normal}
html {
 	position: relative;
	height: 100%;
	overflow: hidden;
}
body {
	font-family: STXihei, "华文细黑","microsoft yahei";
	position: relative;
	margin: 0;
	min-width: 320px;
	height: 100%;
	background: #2e3139;
	overflow: hidden;
	color: #fff;
}
/*-----------------------------框架-------------------------------------*/
/*.swiper-container{position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;overflow:hidden}
.swiper-slide{height:100%;position:relative;overflow:hidden}*/

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
}
.on:before{
	content: url(../img/3.13/on.png);
	display: block;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 13px;
	left: 13px;	
	z-index: 2000;
}
.up{position:absolute;left:0;right:0;bottom:0;width:48px;height:37px;margin:auto;z-index:1000}
.ups{width:48px;height:37px;background:url(../img/3.13/arrows.png) no-repeat;background-size:100%;z-index:100;animation:up 1s ease-in infinite;-moz-animation:up 1s ease-in infinite;-webkit-animation:up 1s ease-in infinite;position:absolute;left:0;bottom:10px}
@-keyframes up{0%{bottom:0;opacity:0}50%{bottom:10px;opacity:1}100%{bottom:20px;opacity:0}}
@-moz-keyframes up{0%{bottom:0;opacity:0}50%{bottom:10px;opacity:1}100%{bottom:20px;opacity:0}}
@-webkit-keyframes up{0%{bottom:0;opacity:0}50%{bottom:10px;opacity:1}100%{bottom:20px;opacity:0}}

.btn {
	position: absolute;
	bottom: 70px;
	left: 50%;
	margin-left: -70.5px;
	display: none;
}
.hidden {display: none;}
.infinite{animation-iteration-count: infinite;-webkit-animation-iteration-count: infinite;-moz-animation-iteration-count: infinite;}
.delay-half{animation-delay: 0.5s;-webkit-animation-delay: 0.5s;-moz-animation-delay: 0.5s;}
.delay-1{animation-delay: 1s;-webkit-animation-delay: 1s;-moz-animation-delay: 1s;}
.delay-1-half{animation-delay: 1.5s;-webkit-animation-delay: 1.5s;-moz-animation-delay: 1.5s;}
.delay-2{animation-delay: 2s;-webkit-animation-delay: 2s;-moz-animation-delay: 2s;}
.delay-2-half{animation-delay: 2.5s;-webkit-animation-delay: 2.5s;-moz-animation-delay: 2.5s;}
.delay-3{animation-delay: 3s;-webkit-animation-delay: 3s;-moz-animation-delay: 3s;}
.delay-3-half{animation-delay: 3.5s;-webkit-animation-delay: 3.5s;-moz-animation-delay: 3.5s;}
.delay-4{animation-delay: 4s;-webkit-animation-delay: 4s;-moz-animation-delay: 4s;}
.delay-4-half{animation-delay: 4.5s;-webkit-animation-delay: 4.5s;-moz-animation-delay: 4.5s;}

/*----------------第一屏---------------------*/
.pageone {
	background: url(../img/3.13/1/bg.png);
	background-size: cover;
	background-position: 50% 0%;	
}
.pageone-1{
	top: 300px;
	left: 50%;
	margin-left: -177px;
	position: absolute;
}
/*----------------第二屏---------------------*/
.pagetwo {
	background: url(../img/3.13/2/bg.png);
	background-size: cover;
	background-position: 50% 0%;	
}
.pagetwo-1 {
	position: absolute;
	top: 50px;
	left: 50%;
	margin-left: -177px;
}
.pagetwo-2 {
	position: absolute;
	top: 380px;
	left: 50%;
	margin-left: -177px;
}
.pagetwo-select-1 {
	width: 350px;
	height: 60px;
	position: absolute;
	top: 150px;
	left: 50%;
	margin-left: -175px;
	background: #3CA8D9;
	border-radius: 4px;
	border: 3px solid rgba(0,0,0,0.2);
	font-size: 30px;
	color: #2E3139;
	font-family: "microsoft yahei";
}
.pagetwo-select-2 {
	width: 350px;
	height: 60px;
	position: absolute;
	top: 490px;
	left: 50%;
	margin-left: -175px;
	background: #3CA8D9;
	border-radius: 4px;
	border: 3px solid rgba(0,0,0,0.2);
	font-size: 30px;
	color: #2E3139;
	font-family: "microsoft yahei";
}
/*----------------第三屏---------------------*/
.pagethree {
	background-image: url(../img/3.13/3/bg.png);
	background-size: cover;
	background-position: 50% 0%;
}
.pagethree-1 {
	position: absolute;
	left: 105px;
	top: 190px;
	background: url(../img/3.13/3/1.png);
	width: 450px;
	height: 50px;
}
.pagethree-2 {
	position: absolute;
	left: 105px;
	top: 340px;
	background: url(../img/3.13/3/2.png);
	width: 355px;
	height: 65px;
}
.pagethree-3 {
	position: absolute;
	left: 105px;
	top: 490px;
	background: url(../img/3.13/3/3.png);
	width: 416px;
	height: 65px;
}
.pagethree-4 {
	position: absolute;
	left: 105px;
	top: 640px;
	background: url(../img/3.13/3/4.png);
	width: 295px;
	height: 50px;
}
.pagethree-1.on:before, .pagethree-4.on:before {
	top: 12px;
	left: 13px;
}
.pagethree-2.on:before, .pagethree-3.on:before {
	top: 20px;
	left: 13px;
}
/*----------------第四屏---------------------*/
.pagefour {
	background-image: url(../img/3.13/4/bg.png);
	background-size: cover;
	background-position: 50% 0%;
}
.pagefour-1 {
	position: absolute;
	left: 140px;
	top: 190px;
	width: 269px;
	height: 50px;
	background: url(../img/3.13/4/1.png);
}
.pagefour-2 {
	position: absolute;
	left: 140px;
	top: 340px;
	width: 211px;
	height: 50px;
	background: url(../img/3.13/4/2.png);
}
.pagefour-3 {
	position: absolute;
	left: 140px;
	top: 490px;
	width: 271px;
	height: 50px;
	background: url(../img/3.13/4/3.png);
}
.pagefour-4 {
	position: absolute;
	left: 140px;
	top: 640px;
	width: 271px;
	height: 50px;
	background: url(../img/3.13/4/4.png);
}

.pagefour .on:before{
	top: 13px;
	left: 13px;
}
/*---------------第五屏---------------------*/
.pagefive {
	background-image: url(../img/3.13/5/bg.png);
	background-size: cover;
	background-position: 50% 0%;
}
.pagefive-1 {
	position: absolute;
	left: 79px;
	top: 132px;
	width: 495px;
	height: 130px;
	background: url(../img/3.13/5/1.png);
}
.pagefive-2 {
	position: absolute;
	left: 79px;
	top: 279px;
	width: 495px;
	height: 130px;
	background: url(../img/3.13/5/2.png);
}
.pagefive-3 {
	position: absolute;
	left: 79px;
	top: 426px;
	width: 495px;
	height: 130px;
	background: url(../img/3.13/5/3.png);
}
.pagefive-4 {
	position: absolute;
	left: 79px;
	top: 573px;
	width: 495px;
	height: 130px;
	background: url(../img/3.13/5/4.png);
}
.pagefive-5 {
	position: absolute;
	left: 79px;
	top: 720px;
	width: 495px;
	height: 130px;
	background: url(../img/3.13/5/5.png);
}
.pagefive .on:before {
	top: 54px;
	left: 13px;
}
/*----------------第六屏---------------------*/
.pagesix {
	background-image: url(../img/3.13/6/bg.png);
	background-size: cover;
	background-position: 50% 0%;
}
.pagesix-1 {
	position: absolute;
	top: 165px;
	left: 85px;
	width: 354px;
	height: 66px;
	background: url(../img/3.13/6/1.png);
}
.pagesix-2 {
	position: absolute;
	top: 302px;
	left: 85px;
	width: 354px;
	height: 66px;
	background: url(../img/3.13/6/2.png);
}
.pagesix-3 {
	position: absolute;
	top: 439px;
	left: 85px;
	width: 493px;
	height: 101px;
	background: url(../img/3.13/6/3.png);
}
.pagesix-4 {
	position: absolute;
	top: 576px;
	left: 85px;
	width: 444px;
	height: 66px;
	background: url(../img/3.13/6/4.png);
}
.pagesix-5 {
	position: absolute;
	top: 713px;
	left: 85px;
	width: 413px;
	height: 66px;
	background: url(../img/3.13/6/5.png);
}
.pagesix .on:before {
	top: 20px;
	left: 13px;
}
.pagesix-3.on:before {
	top: 38px;
	left: 13px;
}
/*----------------第七屏---------------------*/
.pageseven {
	background-image: url(../img/3.13/7/bg.png);
	background-size: cover;
	background-position: 50% 0%;
}
.pageseven .on:before {
	top: 13px;
	left: 13px;
}
.pageseven-1 {
	position: absolute;
	left: 250px;
	top: 180px;
	width: 134px;
	height: 50px;
	background: url(../img/3.13/7/1.png);
}
.pageseven-2 {
	position: absolute;
	left: 250px;
	top: 300px;
	width: 134px;
	height: 50px;
	background: url(../img/3.13/7/2.png);
}
.pageseven-3 {
	position: absolute;
	left: 250px;
	top: 420px;
	width: 134px;
	height: 50px;
	background: url(../img/3.13/7/3.png);
}
.pageseven-4 {
	position: absolute;
	left: 250px;
	top: 540px;
	width: 134px;
	height: 50px;
	background: url(../img/3.13/7/4.png);
}
.pageseven-5 {
	position: absolute;
	left: 250px;
	top: 660px;
	width: 134px;
	height: 50px;
	background: url(../img/3.13/7/5.png);
}
/*----------------第八屏---------------------*/
.pageeight {
	background-image: url(../img/3.13/8/bg.png);
	background-size: cover;
	background-position: 50% 0%;
}
.pageeight-1 {
	position: absolute;
	left: 240px;
	top: 190px;
	width: 148px;
	height: 51px;
	background: url(../img/3.13/8/1.png);
}
.pageeight-2 {
	position: absolute;
	left: 240px;
	top: 340px;
	width: 179px;
	height: 51px;
	background: url(../img/3.13/8/2.png);
}
.pageeight-3 {
	position: absolute;
	left: 240px;
	top: 490px;
	width: 179px;
	height: 51px;
	background: url(../img/3.13/8/3.png);
}
.pageeight .on:before {
	top: 13px;
	left: 13px;
}
/*----------------第九屏---------------------*/
.pagenine {
	background-image: url(../img/3.13/9/bg.png);
	background-size: cover;
	background-position: 50% 0%;
}
.pagenine-1 {
	position: absolute;
	left: 0px;
	top: 0px;
}
.pagenine-p1,.pagenine-p2,.pagenine-p3,.pagenine-p4,.pagenine-p5,.pagenine-p6 {
	font-size: 25px;
	color: #3CA8D9;
	position: absolute;
	left: 100px;
	width: 350px;
}
.pagenine-p1 {
	top: 190px;
}
.pagenine-p2 {
	top: 320px;
}
.pagenine-p3 {
	top: 440px;
}
.pagenine-p4 {
	top: 570px;
}
.pagenine-p5 {
	top: 700px;
}
.pagenine-per1,.pagenine-per2,.pagenine-per3,.pagenine-per4,.pagenine-per5,.pagenine-per6 {
	font-size: 45px;
	color: #ffffff;
	position: absolute;
	left: 515px;
	font-family: arial;
}
.pagenine-per1 {
	top: 140px;
}
.pagenine-per2 {
	top: 270px;
}
.pagenine-per3 {
	top: 395px;
}
.pagenine-per4 {
	top: 525px;
}
.pagenine-per5 {
	top: 650px;
}
.pagenine-per1:after,.pagenine-per2:after,.pagenine-per3:after,.pagenine-per4:after,.pagenine-per5:after,.pagenine-per6:after {
	font-size: 25px;
	content: '%';
	color: #ffffff;
	position: absolute;
	top: 0px;
}
.pagenine-grade {
	font-family: arial;
	font-weight: bold;
	position: absolute;
	color: #ffffff;
	font-size: 60px;
	top: 805px;
	left: 377px;
}
/*@media only screen and (max-height: 1000px) {
	
.pagetwo-1{position: absolute;left: 0%;  bottom: 0px;}
.pagetwo-2{position: absolute;right: 0%; top:80px;}
.pagetwo-3{position: absolute;left:50%;margin-left:10px;top: 400px;}
.pagetwo-4{position: absolute;left:50%;margin-left:39px;top:440px;}
	
.pageeight-1{position:absolute; left:50%; margin-left: -8px;top: 62%;}
.pageeight-2{position:absolute; left:50%; margin-left: -266px; bottom: 5%;}
}*/



